/*menu*/
.nav {
	width: 100%;
	position: fixed;
	background-color: white;
}
.nav-list{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: 20px;
	list-style: none;
	font-color:grey;
}
nav ul li a:link {
	text-decoration: none;
	color: grey;
}
nav ul li a:visited {
	text-decoration: none;
	color: grey;
}
#me:hover {
	color:black;
	transition: 0.5s;
	-webkit-filter: blur(0.5px);
	opacity: 0.7;
}
#interest:hover{
	color:black;
	transition: 0.5s;
	-webkit-filter: blur(0.5px);
	opacity: 0.7;
}
#hobbies:hover{
	color:black;
	transition: 0.5s;
	-webkit-filter: blur(0.5px);
	opacity: 0.7;
}
#contacts:hover{
	color:black;
	transition: 0.5s;
	-webkit-filter: blur(0.5px);
	opacity: 0.7;
}
/*fim menu*/

body{
	margin: 0 0 0 0;
	font-family: 'Raleway', sans-serif;
	color: white;
}

/*sobre mim*/
#notebook {
	width: 850px;
	height: 700px;
	margin-bottom: -40%;
	margin-top: -10%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#aboutMe{
	background-color: #ff7473;
	width: 100%;
	padding: 10% 0 20% 0;
	text-align: center;
}
#aboutMe #welcome{
	font-size: 80px;
	margin-top: -20%;
}
#aboutMe #name{
	font-size: 40px;
}
#aboutMe #student{
	font-size: 30px;}
/*fim sobre mim*/

/*meus interesses*/
#design {
	width: 400px;
	height: 400px;
    margin-left: 20%;
    margin-right: 10%;
}
#myInterests{
	background-color: #47b8e0;
	padding: 11% 0 11% 0;
	font-size: 25px;
	display: inline-flex;
	flex-direction: row-reverse;
	justify-content:center;
}
#myInterests p {
	margin: 4% 0 0 12%;
	text-align: left;
}
/*fim meus interesses*/

/*meus hobbies*/
#lovehobbie {
	width: 400px;
	height: 400px;
    margin-left: 10%;
    margin-right: 2%;
}
#myHobbies{
	background-color: #ffc952;
	padding: 10% 0 10% 0;
	font-size: 25px;
	display: inline-flex;
	flex-direction: row;
	justify-content:center;
}
#myHobbies p {
	margin: 6% 14% 0 10%;
	text-align: left;
}
/*fim dos meus hobbies*/

/*meus contatos*/
#myContacts {
	background-color: #34314c;
	width: 100%;	
	padding: 5% 0 4% 0;
}
#myContacts ul{
	padding: 10% 0 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: 20px;
	list-style: none;
}
#myContacts p{
	text-align: center;
	font-size: 30px;
}
#myContacts a img{
	width: 100px;
}
#linkedin:hover{
	transition: 0.5s;
	-webkit-filter: blur(2px);
	opacity: 0.7;
}
#email:hover{
	transition: 0.5s;
	-webkit-filter: blur(2px);
	opacity: 0.7;
}
#github:hover{
	transition: 0.5s;
	-webkit-filter: blur(2px);
	opacity: 0.7;
}
#thanks {
	margin: 10% 0 0 0;
}
/*fim meus contatos*/